Repository nikmosi/twitch-sub-bot, changes with the labels that .github/labeler.yml gives for each.
All labels: Documentation, Python, Tests, Dependencies, Infrastructure, CI

fix(watcher): handle ReadTimeout
  src/twitch_subs/application/watcher.py
Labels: Python

test: fix tests after refactor
  tests/test_cli.py
  tests/test_models.py
  tests/test_ports.py
  tests/test_reporting.py
  tests/test_repository_sqlite.py
  tests/test_telegram_bot.py
  tests/test_twitch_client.py
  tests/test_watcher.py
Labels: Tests

fix(watcher): handle ReadTimeout
  src/twitch_subs/application/watcher.py
Labels: Python

test: fix tests after refactor
  tests/test_cli.py
  tests/test_models.py
  tests/test_ports.py
  tests/test_reporting.py
  tests/test_repository_sqlite.py
  tests/test_telegram_bot.py
  tests/test_twitch_client.py
  tests/test_watcher.py
Labels: Tests

feat(models): migrate to pydantic BaseModel
  src/twitch_subs/application/reporting.py
  src/twitch_subs/application/watcher.py
  src/twitch_subs/domain/models.py
Labels: Python

fix(telegram/bot): fix add exception format
  src/twitch_subs/infrastructure/telegram/bot.py
Labels: Python

chore: apply ruff format
  tests/test_models.py
  tests/test_telegram_bot.py
  tests/test_watcher.py
Labels: Tests

test: fix tests after refactor
  tests/test_cli.py
  tests/test_models.py
  tests/test_ports.py
  tests/test_reporting.py
  tests/test_repository_sqlite.py
  tests/test_telegram_bot.py
  tests/test_twitch_client.py
  tests/test_watcher.py
Labels: Tests

chore: apply ruff format
  tests/test_models.py
  tests/test_telegram_bot.py
  tests/test_watcher.py
Labels: Tests

fix(watcher): handle ReadTimeout
  src/twitch_subs/application/watcher.py
Labels: Python

feat(models): migrate to pydantic BaseModel
  src/twitch_subs/application/reporting.py
  src/twitch_subs/application/watcher.py
  src/twitch_subs/domain/models.py
Labels: Python

fix(telegram/bot): fix add exception format
  src/twitch_subs/infrastructure/telegram/bot.py
Labels: Python

ci: scope security scans to src
  .github/codeql/codeql-config.yml
  .github/workflows/bandit.yml
  .github/workflows/codeql.yml
  .github/workflows/devskim.yml
  .github/workflows/ruff.yml
  pyproject.toml
Labels: Dependencies, CI

ci: scope security scans to src
  .github/codeql/codeql-config.yml
  .github/workflows/bandit.yml
  .github/workflows/codeql.yml
  .github/workflows/devskim.yml
  .github/workflows/ruff.yml
  pyproject.toml
Labels: Dependencies, CI

fix(ports): resolve name collision (list)
  src/twitch_subs/application/ports.py
  src/twitch_subs/application/watchlist_service.py
  src/twitch_subs/cli.py
  src/twitch_subs/infrastructure/logins_provider.py
Labels: Python

fix(twitch): extract AsyncLimiter to config
  src/twitch_subs/config.py
  src/twitch_subs/container.py
  src/twitch_subs/infrastructure/twitch.py
Labels: Python

test: align watchlist tests with get_list
  tests/test_cli.py
  tests/test_cli_watchlist.py
  tests/test_container.py
  tests/test_logins_provider.py
  tests/test_telegram_bot.py
  tests/test_watchlist_service.py
Labels: Tests

ci: scope security scans to src
  .github/codeql/codeql-config.yml
  .github/workflows/bandit.yml
  .github/workflows/codeql.yml
  .github/workflows/devskim.yml
  .github/workflows/ruff.yml
  pyproject.toml
Labels: Dependencies, CI

fix(twitch): extract AsyncLimiter to config
  src/twitch_subs/config.py
  src/twitch_subs/container.py
  src/twitch_subs/infrastructure/twitch.py
Labels: Python

test: align watchlist tests with get_list
  tests/test_cli.py
  tests/test_cli_watchlist.py
  tests/test_container.py
  tests/test_logins_provider.py
  tests/test_telegram_bot.py
  tests/test_watchlist_service.py
Labels: Tests

fix(ports): resolve name collision (list)
  src/twitch_subs/application/ports.py
  src/twitch_subs/application/watchlist_service.py
  src/twitch_subs/cli.py
  src/twitch_subs/infrastructure/logins_provider.py
Labels: Python

chore: remove space after :
  .github/workflows/ruff.yml
Labels: CI

chore: remove specific path
  .github/codeql/codeql-config.yml
Labels: none

fix(twitch): extract AsyncLimiter to config
  src/twitch_subs/config.py
  src/twitch_subs/container.py
  src/twitch_subs/infrastructure/twitch.py
Labels: Python

chore: remove space after :
  .github/workflows/ruff.yml
Labels: CI

fix(ports): resolve name collision (list)
  src/twitch_subs/application/ports.py
  src/twitch_subs/application/watchlist_service.py
  src/twitch_subs/cli.py
  src/twitch_subs/infrastructure/logins_provider.py
Labels: Python

test: align watchlist tests with get_list
  tests/test_cli.py
  tests/test_cli_watchlist.py
  tests/test_container.py
  tests/test_logins_provider.py
  tests/test_telegram_bot.py
  tests/test_watchlist_service.py
Labels: Tests

ci: scope security scans to src
  .github/codeql/codeql-config.yml
  .github/workflows/bandit.yml
  .github/workflows/codeql.yml
  .github/workflows/devskim.yml
  .github/workflows/ruff.yml
  pyproject.toml
Labels: Dependencies, CI

chore: remove specific path
  .github/codeql/codeql-config.yml
Labels: none

feat(workflows): add gitleaks
  .github/workflows/gitleaks.yml
Labels: CI

feat(workflows): add pip-audit
  .github/workflows/pip-audit.yml
Labels: CI

fix(SqliteWatchlistRepository): rename list -> get_list with Protocal
  src/twitch_subs/infrastructure/repository_sqlite.py
Labels: Python

chore: add limits and restarts
  compose.yml
Labels: Infrastructure

chore: remove nu from flake.nix
  flake.nix
Labels: none

fix(cli): shutdown on error
  src/twitch_subs/cli.py
Labels: Python

fix: take TimeoutException instead ReadTimeout
  src/twitch_subs/application/watcher.py
Labels: Python

chore(TwitchClient): increase timeout
  src/twitch_subs/infrastructure/twitch.py
Labels: Python

chore: change logging size and set rabbitmq ui to localhost
  compose.yml
Labels: Infrastructure

chore: add PYTHONUNBUFFERED
  compose.yml
Labels: Infrastructure

fix: change localhost to 127.0.0.1
  compose.yml
Labels: Infrastructure

.github/labeler.yml:

# Apply the documentation label whenever markdown or docs assets change
Documentation:
  - changed-files:
      - any-glob-to-any-file:
          - '*.md'
          - 'docs/**'

# Tag updates that touch the Python source tree
Python:
  - changed-files:
      - any-glob-to-any-file: 'src/**/*.py'

# Highlight pull requests that modify automated tests
Tests:
  - changed-files:
      - any-glob-to-any-file:
          - 'tests/**'
          - 'conftest.py'

# Flag dependency or packaging updates
Dependencies:
  - changed-files:
      - any-glob-to-any-file:
          - 'pyproject.toml'
          - 'uv.lock'

# Capture infrastructure and container related changes
Infrastructure:
  - changed-files:
      - any-glob-to-any-file:
          - 'dockerfile'
          - 'compose.yml'

# Mark updates to CI configuration files
CI:
  - changed-files:
      - any-glob-to-any-file: '.github/workflows/**'

# Apply the Release label for pull requests merging into the main branch
Release:
  - base-branch: '^main$'
