Repository nikmosi/twitch-sub-bot, changes with the labels that .github/labeler.yml gives for each.
All labels: Documentation, Python, Tests, Dependencies, Infrastructure, CI

.github/labeler.yml:

# Apply the documentation label whenever markdown or docs assets change
Documentation:
  - changed-files:
      - any-glob-to-any-file:
          - '*.md'
          - 'docs/**'

# Tag updates that touch the Python source tree
Python:
  - changed-files:
      - any-glob-to-any-file: 'src/**/*.py'

# Highlight pull requests that modify automated tests
Tests:
  - changed-files:
      - any-glob-to-any-file:
          - 'tests/**'
          - 'conftest.py'

# Flag dependency or packaging updates
Dependencies:
  - changed-files:
      - any-glob-to-any-file:
          - 'pyproject.toml'
          - 'uv.lock'

# Capture infrastructure and container related changes
Infrastructure:
  - changed-files:
      - any-glob-to-any-file:
          - 'dockerfile'
          - 'compose.yml'

# Mark updates to CI configuration files
CI:
  - changed-files:
      - any-glob-to-any-file: '.github/workflows/**'

# Apply the Release label for pull requests merging into the main branch
Release:
  - base-branch: '^main$'

test: update suite for current interfaces
  tests/test_cli.py
  tests/test_cli_watchlist.py
  tests/test_container.py
  tests/test_event_bus.py
  tests/test_models.py
  tests/test_rabbitmq_bus.py
  tests/test_reporting.py
  tests/test_telegram_bot.py
Labels: Tests

test: update suite for current interfaces
  tests/test_cli.py
  tests/test_cli_watchlist.py
  tests/test_container.py
  tests/test_event_bus.py
  tests/test_models.py
  tests/test_rabbitmq_bus.py
  tests/test_reporting.py
  tests/test_telegram_bot.py
Labels: Tests

refactor(rabbitmq): move rabbitmq connection to container
  src/twitch_subs/container.py
  src/twitch_subs/infrastructure/event_bus/rabbitmq.py
Labels: Python

feat(InMemoryEventBus): added duplicate event control
  src/twitch_subs/infrastructure/event_bus/inmemory.py
Labels: Python

refactor(rabbitmq): improve style
  src/twitch_subs/infrastructure/event_bus/rabbitmq.py
Labels: Python

chore(rabbitmq): simply code
  pyproject.toml
  src/twitch_subs/infrastructure/event_bus/rabbitmq.py
  uv.lock
Labels: Python, Dependencies

refactor: apply ruff format and ruff check
  src/twitch_subs/infrastructure/twitch.py
  tests/test_cli.py
  tests/test_cli_watchlist.py
  tests/test_container.py
  tests/test_models.py
  tests/test_rabbitmq_bus.py
  tests/test_reporting.py
  tests/test_repository_sqlite.py
  tests/test_telegram_bot.py
  tests/test_twitch_client.py
  tests/test_watcher.py
Labels: Python, Tests

fix(inmemory): use field default_factory instead inline
  src/twitch_subs/infrastructure/event_bus/inmemory.py
Labels: Python

test: harden cli and event bus tests
  tests/test_cli_watchlist.py
  tests/test_container.py
  tests/test_rabbitmq_bus.py
Labels: Tests

test: harden cli and event bus tests
  tests/test_cli_watchlist.py
  tests/test_container.py
  tests/test_rabbitmq_bus.py
Labels: Tests

refactor: apply ruff format and ruff check
  tests/test_container.py
Labels: Tests

fix(rabbitmq): rpc timeout
  src/twitch_subs/infrastructure/event_bus/rabbitmq.py
  tests/test_rabbitmq_bus.py
Labels: Python, Tests

fix(rabbitmq): rpc timeout
  pyproject.toml
  src/twitch_subs/infrastructure/event_bus/rabbitmq.py
  tests/test_rabbitmq_bus.py
Labels: Python, Tests, Dependencies

fix(rabbitmq): rpc timeout
  pyproject.toml
  src/twitch_subs/infrastructure/event_bus/rabbitmq.py
  tests/test_rabbitmq_bus.py
Labels: Python, Tests, Dependencies

feat(telegram): move bot to events
  src/twitch_subs/domain/events.py
  src/twitch_subs/infrastructure/telegram/bot.py
Labels: Python

feat(telegram): add re to usernames parse
  src/twitch_subs/container.py
  src/twitch_subs/infrastructure/error.py
  src/twitch_subs/infrastructure/telegram/bot.py
Labels: Python

test(telegram): fix
  tests/test_telegram_bot.py
Labels: Tests

feat(telegram): groupby broadcaster type
  src/twitch_subs/infrastructure/notifier/telegram.py
Labels: Python

feat(rabbitmq): separate on producer and consumer
  src/twitch_subs/cli.py
  src/twitch_subs/container.py
  src/twitch_subs/infrastructure/event_bus/rabbitmq.py
  src/twitch_subs/infrastructure/event_bus/rabbitmq/__init__.py
  src/twitch_subs/infrastructure/event_bus/rabbitmq/bus.py
  src/twitch_subs/infrastructure/event_bus/rabbitmq/consumer.py
  src/twitch_subs/infrastructure/event_bus/rabbitmq/producer.py
  src/twitch_subs/infrastructure/event_bus/rabbitmq/utils.py
Labels: Python

refactor(rabbitmq): clear
  src/twitch_subs/infrastructure/event_bus/rabbitmq/bus.py
Labels: Python

chore: aga
  src/twitch_subs/cli.py
  src/twitch_subs/container.py
  tests/test_cli.py
  tests/test_cli_watchlist.py
Labels: Python, Tests

fix: stabilize error handling and container resources
  src/twitch_subs/application/error.py
  src/twitch_subs/application/event_handlers.py
  src/twitch_subs/application/watcher.py
  src/twitch_subs/cli.py
  src/twitch_subs/container.py
  src/twitch_subs/domain/exceptions.py
  src/twitch_subs/errors.py
  src/twitch_subs/infrastructure/error.py
  src/twitch_subs/infrastructure/error_utils.py
  src/twitch_subs/infrastructure/event_bus/rabbitmq/__init__.py
  src/twitch_subs/infrastructure/event_bus/rabbitmq/bus.py
  src/twitch_subs/infrastructure/event_bus/rabbitmq/consumer.py
  src/twitch_subs/infrastructure/event_bus/rabbitmq/producer.py
  src/twitch_subs/infrastructure/notifier/console.py
  src/twitch_subs/infrastructure/notifier/telegram.py
  tests/test_cli_watchlist.py
  tests/test_container.py
  tests/test_errors.py
  tests/test_exceptions.py
  tests/test_rabbitmq_bus.py
  tests/test_telegram_bot.py
  tests/test_watcher.py
Labels: Python, Tests

fix: stabilize error handling and container resources
  src/twitch_subs/application/error.py
  src/twitch_subs/application/event_handlers.py
  src/twitch_subs/application/watcher.py
  src/twitch_subs/cli.py
  src/twitch_subs/container.py
  src/twitch_subs/domain/exceptions.py
  src/twitch_subs/errors.py
  src/twitch_subs/infrastructure/error.py
  src/twitch_subs/infrastructure/error_utils.py
  src/twitch_subs/infrastructure/event_bus/rabbitmq/__init__.py
  src/twitch_subs/infrastructure/event_bus/rabbitmq/bus.py
  src/twitch_subs/infrastructure/event_bus/rabbitmq/consumer.py
  src/twitch_subs/infrastructure/event_bus/rabbitmq/producer.py
  src/twitch_subs/infrastructure/notifier/console.py
  src/twitch_subs/infrastructure/notifier/telegram.py
  tests/test_cli_watchlist.py
  tests/test_container.py
  tests/test_errors.py
  tests/test_exceptions.py
  tests/test_rabbitmq_bus.py
  tests/test_telegram_bot.py
  tests/test_watcher.py
Labels: Python, Tests

refactor: clean up
  src/twitch_subs/cli.py
  src/twitch_subs/container.py
  src/twitch_subs/infrastructure/error.py
  src/twitch_subs/infrastructure/error_utils.py
  src/twitch_subs/infrastructure/event_bus/rabbitmq/bus.py
  src/twitch_subs/infrastructure/event_bus/rabbitmq/consumer.py
  src/twitch_subs/infrastructure/event_bus/rabbitmq/producer.py
Labels: Python

test: cover custom error dataclasses
  src/twitch_subs/application/error.py
  src/twitch_subs/cli.py
  src/twitch_subs/domain/exceptions.py
  src/twitch_subs/errors.py
  src/twitch_subs/infrastructure/error.py
  src/twitch_subs/infrastructure/telegram/bot.py
  src/twitch_subs/infrastructure/twitch.py
  tests/test_errors.py
Labels: Python, Tests

test: cover custom error dataclasses
  src/twitch_subs/application/error.py
  src/twitch_subs/cli.py
  src/twitch_subs/domain/exceptions.py
  src/twitch_subs/errors.py
  src/twitch_subs/infrastructure/error.py
  src/twitch_subs/infrastructure/telegram/bot.py
  src/twitch_subs/infrastructure/twitch.py
  tests/test_errors.py
Labels: Python, Tests

refactor: clean up
  src/twitch_subs/cli.py
  src/twitch_subs/infrastructure/error.py
  src/twitch_subs/infrastructure/notifier/console.py
  src/twitch_subs/infrastructure/notifier/telegram.py
Labels: Python

fix: correct bot shutdown
  src/twitch_subs/cli.py
Labels: Python

fix(telegram/bot): add m.twitch to pattern
  src/twitch_subs/application/event_handlers.py
  src/twitch_subs/cli.py
  src/twitch_subs/infrastructure/telegram/bot.py
Labels: Python

refactor(telegram/bot): accept only \w in nickname
  src/twitch_subs/infrastructure/telegram/bot.py
Labels: Python

fix(error_utils): correct formatted_tb
  src/twitch_subs/infrastructure/error_utils.py
Labels: Python

refactor: clean up
  src/twitch_subs/application/error.py
  src/twitch_subs/application/watcher.py
Labels: Python

fix: working
  src/twitch_subs/application/reporting.py
  src/twitch_subs/cli.py
  src/twitch_subs/container.py
Labels: Python

refactor(notifier/telegram): remove unused
  src/twitch_subs/infrastructure/notifier/telegram.py
Labels: Python

refactor(cli): separate watch
  src/twitch_subs/cli.py
Labels: Python

fix: align cli and tests with async context handling
  src/twitch_subs/cli.py
  tests/test_cli_watchlist.py
  tests/test_container.py
  tests/test_watcher.py
Labels: Python, Tests

test: update cli and watcher tests
  pyproject.toml
  tests/test_cli.py
  tests/test_cli_watchlist.py
  tests/test_container.py
  tests/test_watcher.py
Labels: Tests, Dependencies

feat(telegram): move bot to events
  src/twitch_subs/domain/events.py
  src/twitch_subs/infrastructure/telegram/bot.py
Labels: Python

feat(telegram): groupby broadcaster type
  src/twitch_subs/infrastructure/notifier/telegram.py
Labels: Python

test(telegram): fix
  tests/test_telegram_bot.py
Labels: Tests
