Repository nikmosi/twitch-sub-bot, changes with the labels that .github/labeler.yml gives for each.
All labels: Documentation, Python, Tests, Dependencies, Infrastructure, CI

fix: close telegram resources cleanly
  src/twitch_subs/cli.py
  src/twitch_subs/container.py
  src/twitch_subs/infrastructure/telegram.py
  src/twitch_subs/infrastructure/twitch.py
  tests/test_cli.py
  tests/test_container.py
  tests/test_telegram_bot.py
Labels: Python, Tests

fix(container): reuse telegram bot session
  src/twitch_subs/container.py
  tests/test_container.py
Labels: Python, Tests

test: fix
  pyproject.toml
  src/twitch_subs/container.py
  src/twitch_subs/infrastructure/telegram.py
  tests/test_cli.py
  tests/test_container.py
  tests/test_telegram_bot.py
Labels: Python, Tests, Dependencies

test: fix
  pyproject.toml
  src/twitch_subs/container.py
  src/twitch_subs/infrastructure/telegram.py
  tests/test_cli.py
  tests/test_container.py
  tests/test_telegram_bot.py
Labels: Python, Tests, Dependencies

fix: close telegram resources cleanly
  src/twitch_subs/cli.py
  src/twitch_subs/container.py
  src/twitch_subs/infrastructure/telegram.py
  src/twitch_subs/infrastructure/twitch.py
  tests/test_cli.py
  tests/test_container.py
  tests/test_telegram_bot.py
Labels: Python, Tests

refactor(watcher): change log level about status change
  src/twitch_subs/application/watcher.py
Labels: Python

chore: wip
  src/twitch_subs/application/watcher.py
  src/twitch_subs/cli.py
Labels: Python

fix(container): reuse telegram bot session
  src/twitch_subs/container.py
  tests/test_container.py
Labels: Python, Tests

ci(dependabot): group all deps in one pull-request
  .github/dependabot.yml
Labels: none

fix(watch): select value from broadcaster_type
  src/twitch_subs/application/watcher.py
Labels: Python

fix(watch): select value from broadcaster_type
  src/twitch_subs/application/watcher.py
Labels: Python

ci(dependabot): group all deps in one pull-request
  .github/dependabot.yml
Labels: none

ci(dependabot): change target-branch to develop
  .github/dependabot.yml
Labels: none

fix(watch): select value from broadcaster_type
  src/twitch_subs/application/watcher.py
Labels: Python

ci(dependabot): group all deps in one pull-request
  .github/dependabot.yml
Labels: none

ci(dependabot): change target-branch to develop
  .github/dependabot.yml
Labels: none

feat(domain): create events
  src/twitch_subs/domain/events.py
Labels: Python

feat(application): create event bus port
  src/twitch_subs/application/ports.py
Labels: Python

refactor(cli): remove _get_notifier
  src/twitch_subs/cli.py
Labels: Python

feat(domain): add UserAdded, UserRemoved event
  src/twitch_subs/domain/events.py
Labels: Python

feat: implement event_bus
  dockerfile
  src/twitch_subs/application/ports.py
  src/twitch_subs/application/watcher.py
  src/twitch_subs/cli.py
  src/twitch_subs/container.py
  src/twitch_subs/domain/events.py
  src/twitch_subs/infrastructure/event_bus/in_memory.py
Labels: Python, Infrastructure

refactor(domain): simplify subscription state model
  src/twitch_subs/application/ports.py
  src/twitch_subs/application/watcher.py
  src/twitch_subs/cli.py
  src/twitch_subs/domain/models.py
  src/twitch_subs/infrastructure/repository_sqlite.py
  src/twitch_subs/infrastructure/telegram.py
  tests/test_cli.py
  tests/test_cli_watchlist.py
  tests/test_models.py
  tests/test_ports.py
  tests/test_repository_sqlite.py
  tests/test_watcher.py
Labels: Python, Tests

refactor: remove state dataclass and adapt notifier handling
  TEST_PLAN.md
  src/twitch_subs/cli.py
  src/twitch_subs/domain/models.py
  tests/test_models.py
  tests/test_watcher.py
Labels: Documentation, Python, Tests

refactor: remove state dataclass and adapt notifier handling
  TEST_PLAN.md
  src/twitch_subs/cli.py
  src/twitch_subs/domain/models.py
  tests/test_models.py
  tests/test_watcher.py
Labels: Documentation, Python, Tests

refactor: remove state dataclass and adapt notifier handling
  TEST_PLAN.md
  src/twitch_subs/cli.py
  src/twitch_subs/domain/models.py
  tests/test_models.py
  tests/test_watcher.py
Labels: Documentation, Python, Tests

refactor(watcher): extract reporting scheduler
  pyproject.toml
  src/twitch_subs/application/reporting.py
  src/twitch_subs/application/watcher.py
  src/twitch_subs/cli.py
  src/twitch_subs/config.py
  src/twitch_subs/container.py
  src/twitch_subs/domain/events.py
  tests/test_cli.py
  tests/test_reporting.py
  tests/test_watcher.py
  uv.lock
Labels: Python, Tests, Dependencies

refactor(watcher): extract reporting scheduler
  pyproject.toml
  src/twitch_subs/application/reporting.py
  src/twitch_subs/application/watcher.py
  src/twitch_subs/cli.py
  src/twitch_subs/config.py
  src/twitch_subs/container.py
  src/twitch_subs/domain/events.py
  tests/test_cli.py
  tests/test_reporting.py
  tests/test_watcher.py
  uv.lock
Labels: Python, Tests, Dependencies

refactor: unify subscription status storage
  src/twitch_subs/application/ports.py
  src/twitch_subs/application/watcher.py
  src/twitch_subs/cli.py
  src/twitch_subs/domain/models.py
  src/twitch_subs/infrastructure/repository_sqlite.py
  src/twitch_subs/infrastructure/telegram.py
  tests/test_cli.py
  tests/test_cli_watchlist.py
  tests/test_models.py
  tests/test_ports.py
  tests/test_repository_sqlite.py
  tests/test_watcher.py
Labels: Python, Tests

refactor: unify subscription status storage
  src/twitch_subs/application/ports.py
  src/twitch_subs/application/watcher.py
  src/twitch_subs/cli.py
  src/twitch_subs/domain/models.py
  src/twitch_subs/infrastructure/repository_sqlite.py
  src/twitch_subs/infrastructure/telegram.py
  tests/test_cli.py
  tests/test_cli_watchlist.py
  tests/test_models.py
  tests/test_ports.py
  tests/test_repository_sqlite.py
  tests/test_watcher.py
Labels: Python, Tests

fix: fix lsp issue
  src/twitch_subs/application/reporting.py
  src/twitch_subs/container.py
Labels: Python

test: raise coverage to ninety six percent
  src/twitch_subs/application/ports.py
  src/twitch_subs/application/reporting.py
  src/twitch_subs/domain/models.py
  src/twitch_subs/infrastructure/telegram.py
  tests/test_event_bus.py
  tests/test_models.py
  tests/test_reporting.py
  tests/test_telegram_bot.py
  tests/test_watcher.py
Labels: Python, Tests

test: raise coverage to ninety six percent
  src/twitch_subs/application/ports.py
  src/twitch_subs/application/reporting.py
  src/twitch_subs/domain/models.py
  src/twitch_subs/infrastructure/telegram.py
  tests/test_event_bus.py
  tests/test_models.py
  tests/test_reporting.py
  tests/test_telegram_bot.py
  tests/test_watcher.py
Labels: Python, Tests

chore(event_bus/in_memory): remove useless cast
  src/twitch_subs/infrastructure/event_bus/in_memory.py
Labels: Python

refactor(models)!: remove LoginReportInfo
  src/twitch_subs/application/ports.py
  src/twitch_subs/application/reporting.py
  src/twitch_subs/domain/models.py
  src/twitch_subs/infrastructure/telegram.py
Labels: Python

refactor(twitch): adopt async httpx client
  src/twitch_subs/container.py
  src/twitch_subs/infrastructure/twitch.py
  tests/test_container.py
  tests/test_twitch_client.py
Labels: Python, Tests

fix(cli): publish removal events with correct message
  src/twitch_subs/cli.py
  src/twitch_subs/container.py
  tests/test_cli_watchlist.py
Labels: Python, Tests

feat(domain): add injectable time and id providers
  src/twitch_subs/application/reporting.py
  src/twitch_subs/application/watcher.py
  src/twitch_subs/container.py
  src/twitch_subs/domain/events.py
  src/twitch_subs/domain/models.py
  src/twitch_subs/domain/protocols.py
  src/twitch_subs/infrastructure/system.py
  tests/test_event_bus.py
  tests/test_models.py
  tests/test_ports.py
  tests/test_reporting.py
  tests/test_repository_sqlite.py
  tests/test_watcher.py
Labels: Python, Tests

fix(cli): publish removal events with correct message
  src/twitch_subs/cli.py
  src/twitch_subs/container.py
  tests/test_cli_watchlist.py
Labels: Python, Tests

refactor(twitch): adopt async httpx client
  src/twitch_subs/container.py
  src/twitch_subs/infrastructure/twitch.py
  tests/test_container.py
  tests/test_twitch_client.py
Labels: Python, Tests

feat(events): add rabbitmq transport and event-driven notifier
  pyproject.toml
  src/twitch_subs/application/event_handlers.py
  src/twitch_subs/application/ports.py
  src/twitch_subs/application/reporting.py
  src/twitch_subs/cli.py
  src/twitch_subs/config.py
  src/twitch_subs/container.py
  src/twitch_subs/domain/events.py
  src/twitch_subs/domain/models.py
  src/twitch_subs/infra/__init__.py
  src/twitch_subs/infra/events/__init__.py
  src/twitch_subs/infra/events/inmemory_bus.py
  src/twitch_subs/infra/events/rabbitmq_bus.py
  src/twitch_subs/infrastructure/telegram.py
  tests/test_cli.py
  tests/test_cli_watchlist.py
  tests/test_event_bus.py
  tests/test_models.py
  tests/test_rabbitmq_bus.py
  uv.lock
Labels: Python, Tests, Dependencies

.github/labeler.yml:

# Apply the documentation label whenever markdown or docs assets change
Documentation:
  - changed-files:
      - any-glob-to-any-file:
          - '*.md'
          - 'docs/**'

# Tag updates that touch the Python source tree
Python:
  - changed-files:
      - any-glob-to-any-file: 'src/**/*.py'

# Highlight pull requests that modify automated tests
Tests:
  - changed-files:
      - any-glob-to-any-file:
          - 'tests/**'
          - 'conftest.py'

# Flag dependency or packaging updates
Dependencies:
  - changed-files:
      - any-glob-to-any-file:
          - 'pyproject.toml'
          - 'uv.lock'

# Capture infrastructure and container related changes
Infrastructure:
  - changed-files:
      - any-glob-to-any-file:
          - 'dockerfile'
          - 'compose.yml'

# Mark updates to CI configuration files
CI:
  - changed-files:
      - any-glob-to-any-file: '.github/workflows/**'

# Apply the Release label for pull requests merging into the main branch
Release:
  - base-branch: '^main$'
