Repository nikmosi/twitch-sub-bot, changes with the labels that .github/labeler.yml gives for each.
All labels: Documentation, Python, Tests, Dependencies, Infrastructure, CI

fix(SqliteWatchlistRepository): create get_list
  src/twitch_subs/infrastructure/repository_sqlite.py
Labels: Python

chore: add --- to start of document
  compose.yml
Labels: Infrastructure

refactor: improve error style
  src/twitch_subs/application/error.py
  src/twitch_subs/application/event_handlers.py
  src/twitch_subs/application/reporting.py
  src/twitch_subs/cli.py
  src/twitch_subs/infrastructure/error.py
  src/twitch_subs/infrastructure/event_bus/rabbitmq/bus.py
  src/twitch_subs/infrastructure/event_bus/rabbitmq/consumer.py
  src/twitch_subs/infrastructure/event_bus/rabbitmq/producer.py
  src/twitch_subs/infrastructure/telegram/bot.py
  tests/test_cli_watchlist.py
  tests/test_errors.py
  tests/test_telegram_bot.py
Labels: Python, Tests

chore: add resource limits
  compose.yml
Labels: Infrastructure

feat: add anti-flood for telegram
  src/twitch_subs/infrastructure/notifier/telegram.py
  tests/test_errors.py
  tests/test_telegram_bot.py
Labels: Python, Tests

chore: fix dns working with hijack-dns
  compose.yml
  dockerfile
Labels: Infrastructure

feat: make multicheck
  src/twitch_subs/application/ports.py
  src/twitch_subs/application/watcher.py
  src/twitch_subs/infrastructure/twitch.py
Labels: Python

chore: format
  .gitignore
  AGENTS.md
  README.md
  compose.yml
  dockerfile
  src/twitch_subs/application/watcher.py
  src/twitch_subs/container.py
  tests/test_container.py
Labels: Documentation, Python, Tests, Infrastructure

chore: update tests
  tests/test_ports.py
  tests/test_twitch_client.py
  tests/test_watcher.py
Labels: Tests

refactor: move login about ids limit to twitch client
  src/twitch_subs/application/watcher.py
  src/twitch_subs/infrastructure/twitch.py
Labels: Python

refactor: merge duplicated models
  src/twitch_subs/application/event_handlers.py
  src/twitch_subs/application/ports.py
  src/twitch_subs/application/reporting.py
  src/twitch_subs/application/watcher.py
  src/twitch_subs/domain/mapper.py
  src/twitch_subs/domain/models.py
  src/twitch_subs/infrastructure/notifier/console.py
  src/twitch_subs/infrastructure/notifier/telegram.py
  src/twitch_subs/infrastructure/repository_sqlite.py
  tests/test_cli.py
  tests/test_cli_watchlist.py
  tests/test_models.py
  tests/test_ports.py
  tests/test_reporting.py
  tests/test_repository_sqlite.py
  tests/test_telegram_bot.py
  tests/test_twitch_client.py
  tests/test_watcher.py
Labels: Python, Tests

test: add events test
  src/twitch_subs/application/watcher.py
  tests/test_watcher.py
Labels: Python, Tests

refactor: optimize
  src/twitch_subs/application/watcher.py
  src/twitch_subs/domain/mapper.py
  src/twitch_subs/domain/models.py
Labels: Python

refactor: improve code style
  src/twitch_subs/application/watcher.py
  src/twitch_subs/cli.py
Labels: Python

refactor: improve naming
  src/twitch_subs/application/event_handlers.py
  src/twitch_subs/application/ports.py
  src/twitch_subs/application/watcher.py
  src/twitch_subs/cli.py
  src/twitch_subs/container.py
  src/twitch_subs/domain/events.py
  src/twitch_subs/infrastructure/event_bus/rabbitmq/bus.py
  src/twitch_subs/infrastructure/event_bus/rabbitmq/consumer.py
  src/twitch_subs/infrastructure/event_bus/rabbitmq/producer.py
  src/twitch_subs/infrastructure/event_bus/rabbitmq/utils.py
  src/twitch_subs/infrastructure/logins_provider.py
  src/twitch_subs/infrastructure/notifier/console.py
  src/twitch_subs/infrastructure/notifier/telegram.py
  src/twitch_subs/infrastructure/telegram/bot.py
  src/twitch_subs/infrastructure/telegram/filters.py
  src/twitch_subs/infrastructure/twitch.py
  tests/test_cli_watchlist.py
  tests/test_logins_provider.py
  tests/test_ports.py
  tests/test_reporting.py
  tests/test_twitch_client.py
  tests/test_watcher.py
Labels: Python, Tests

fix: Telegram bot failure does not stop `watch`
  src/twitch_subs/cli.py
  tests/test_cli.py
Labels: Python, Tests

fix: Telegram username parsing is inconsistent with CLI validation
  src/twitch_subs/cli.py
  src/twitch_subs/domain/models.py
  src/twitch_subs/infrastructure/telegram/bot.py
  tests/test_cli.py
  tests/test_models.py
  tests/test_telegram_bot.py
Labels: Python, Tests

fix: Daily report crashes on missing Twitch users
  src/twitch_subs/application/event_handlers.py
  src/twitch_subs/application/ports.py
  src/twitch_subs/application/reporting.py
  src/twitch_subs/application/watcher.py
  src/twitch_subs/domain/events.py
  src/twitch_subs/infrastructure/notifier/console.py
  src/twitch_subs/infrastructure/notifier/telegram.py
  tests/test_cli_watchlist.py
  tests/test_event_bus.py
  tests/test_reporting.py
  tests/test_telegram_bot.py
  tests/test_watcher.py
Labels: Python, Tests

fix: event_bus lifecycle
  src/twitch_subs/cli.py
  src/twitch_subs/container.py
  tests/test_cli.py
  tests/test_cli_watchlist.py
  tests/test_container.py
Labels: Python, Tests

chore: reduce default interval
  src/twitch_subs/cli.py
Labels: Python

fix: default BroadcasterType set to None
  src/twitch_subs/application/watcher.py
Labels: Python

chore: add log_loop_check_info
  src/twitch_subs/application/event_handlers.py
Labels: Python

fix: publish LoopChecked only when succesuful finished
  src/twitch_subs/application/watcher.py
  tests/test_watcher.py
Labels: Python, Tests

chore: improve logging messages
  AGENTS.md
  src/twitch_subs/application/event_handlers.py
  src/twitch_subs/application/reporting.py
  src/twitch_subs/application/watcher.py
  src/twitch_subs/infrastructure/error_utils.py
  src/twitch_subs/infrastructure/event_bus/rabbitmq/consumer.py
  src/twitch_subs/infrastructure/notifier/console.py
  src/twitch_subs/infrastructure/notifier/telegram.py
  src/twitch_subs/infrastructure/repository_sqlite.py
  src/twitch_subs/infrastructure/twitch.py
Labels: Documentation, Python

chore: add bind
  src/twitch_subs/application/event_handlers.py
  src/twitch_subs/application/reporting.py
  src/twitch_subs/application/watcher.py
  src/twitch_subs/cli.py
  src/twitch_subs/infrastructure/error_utils.py
  src/twitch_subs/infrastructure/event_bus/rabbitmq/bus.py
  src/twitch_subs/infrastructure/event_bus/rabbitmq/consumer.py
  src/twitch_subs/infrastructure/event_bus/rabbitmq/producer.py
  src/twitch_subs/infrastructure/event_bus/rabbitmq/utils.py
  src/twitch_subs/infrastructure/notifier/console.py
  src/twitch_subs/infrastructure/notifier/telegram.py
  src/twitch_subs/infrastructure/telegram/bot.py
  src/twitch_subs/infrastructure/telegram/filters.py
  src/twitch_subs/infrastructure/twitch.py
Labels: Python

feat: add multi-stage
  dockerfile
Labels: Infrastructure

chore: up
  src/twitch_subs/cli.py
Labels: Python

fix: drains the current buffered messages immediately
  src/twitch_subs/infrastructure/notifier/telegram.py
  tests/test_telegram_bot.py
Labels: Python, Tests

chore: up
  README.md
  compose.yml
  dockerfile
  src/twitch_subs/cli.py
  src/twitch_subs/infrastructure/twitch.py
Labels: Documentation, Python, Infrastructure

refactor(typing): change list to Sequence
  src/twitch_subs/application/watchlist_service.py
  src/twitch_subs/domain/models.py
Labels: Python

fix: parse login with additional info
  src/twitch_subs/domain/models.py
Labels: Python

chore: remove useless func
  src/twitch_subs/infrastructure/repository_sqlite.py
Labels: Python

Potential fix for pull request finding 'CodeQL / Workflow does not contain permissions'
  .github/workflows/gitleaks.yml
Labels: CI

test: fix
  tests/test_cli_watchlist.py
  tests/test_repository_sqlite.py
  tests/test_telegram_bot.py
  tests/test_watchlist_service.py
Labels: Tests

chore: remove rabbitmq port
  compose.yml
Labels: Infrastructure

chore: add healthcheck and remove localhost port
  compose.yml
Labels: Infrastructure

chore: remove CompatibleWatchlistRepository
  tests/test_cli_watchlist.py
  tests/test_telegram_bot.py
  tests/test_watchlist_service.py
Labels: Tests

.github/labeler.yml:

# Apply the documentation label whenever markdown or docs assets change
Documentation:
  - changed-files:
      - any-glob-to-any-file:
          - '*.md'
          - 'docs/**'

# Tag updates that touch the Python source tree
Python:
  - changed-files:
      - any-glob-to-any-file: 'src/**/*.py'

# Highlight pull requests that modify automated tests
Tests:
  - changed-files:
      - any-glob-to-any-file:
          - 'tests/**'
          - 'conftest.py'

# Flag dependency or packaging updates
Dependencies:
  - changed-files:
      - any-glob-to-any-file:
          - 'pyproject.toml'
          - 'uv.lock'

# Capture infrastructure and container related changes
Infrastructure:
  - changed-files:
      - any-glob-to-any-file:
          - 'dockerfile'
          - 'compose.yml'

# Mark updates to CI configuration files
CI:
  - changed-files:
      - any-glob-to-any-file: '.github/workflows/**'

# Apply the Release label for pull requests merging into the main branch
Release:
  - base-branch: '^main$'
