Repository nikmosi/twitch-sub-bot, changes with the labels that .github/labeler.yml gives for each.
All labels: Documentation, Python, Tests, Dependencies, Infrastructure, CI

refactor(telegram): remove unused and return try
  src/twitch_subs/infrastructure/telegram.py
Labels: Python

test: fix
  tests/test_cli.py
Labels: Tests

chore: apply ruff format and check
  src/twitch_subs/infrastructure/telegram.py
Labels: Python

fix(telegram): reuse aiogram bot across notifier and watchlist
  src/twitch_subs/container.py
  src/twitch_subs/infrastructure/telegram.py
  tests/test_cli.py
  tests/test_cli_watchlist.py
  tests/test_telegram.py
  tests/test_telegram_bot.py
Labels: Python, Tests

test: fix
  tests/test_cli.py
Labels: Tests

refactor(telegram): remove unused and return try
  src/twitch_subs/infrastructure/telegram.py
Labels: Python

fix(telegram): batch list
  src/twitch_subs/infrastructure/telegram.py
  tests/test_telegram_bot.py
Labels: Python, Tests

fix(telegram): batch list
  src/twitch_subs/infrastructure/telegram.py
  tests/test_telegram_bot.py
Labels: Python, Tests

fix(telegram): added users to list
  src/twitch_subs/infrastructure/telegram.py
Labels: Python

ci(deploy): fixed pulling changes
  .github/workflows/deploy.yml
Labels: CI

refactor: removed separead. Run all in asyncio
  src/twitch_subs/application/watcher.py
  src/twitch_subs/cli.py
  src/twitch_subs/domain/ports.py
  src/twitch_subs/infrastructure/error.py
  src/twitch_subs/infrastructure/telegram.py
  src/twitch_subs/infrastructure/twitch.py
Labels: Python

fix(watcher): remove notify_about_stop before start
  src/twitch_subs/application/watcher.py
Labels: Python

feat: remove tests
  pyproject.toml
  tests/test_cli.py
  tests/test_cli_watchlist.py
  tests/test_telegram.py
  tests/test_watcher.py
  uv.lock
Labels: Tests, Dependencies

feat: remove tests
  pyproject.toml
  tests/test_cli.py
  tests/test_cli_watchlist.py
  tests/test_telegram.py
  tests/test_watcher.py
  uv.lock
Labels: Tests, Dependencies

fix: import DefaultBotProperties from default
  src/twitch_subs/container.py
Labels: Python

fix: import DefaultBotProperties from default
  src/twitch_subs/container.py
Labels: Python

test: expand async coverage and add plan
  README.md
  TEST_PLAN.md
  pyproject.toml
  src/twitch_subs/application/logins.py
  src/twitch_subs/application/watcher.py
  src/twitch_subs/domain/ports.py
  tests/test_cli.py
  tests/test_container.py
  tests/test_logins_provider.py
  tests/test_models.py
  tests/test_telegram_bot.py
  tests/test_watcher.py
  uv.lock
Labels: Documentation, Python, Tests, Dependencies

chore(AGENT): improve agent instructions
  AGENT.md
Labels: Documentation

chore: apply ruff format
  src/twitch_subs/domain/ports.py
  tests/test_cli.py
  tests/test_container.py
  tests/test_models.py
  tests/test_telegram_bot.py
  tests/test_watcher.py
Labels: Python, Tests

test: expand async coverage and add plan
  README.md
  TEST_PLAN.md
  pyproject.toml
  src/twitch_subs/application/logins.py
  src/twitch_subs/application/watcher.py
  src/twitch_subs/domain/ports.py
  tests/test_cli.py
  tests/test_container.py
  tests/test_logins_provider.py
  tests/test_models.py
  tests/test_telegram_bot.py
  tests/test_watcher.py
  uv.lock
Labels: Documentation, Python, Tests, Dependencies

chore: apply ruff format
  src/twitch_subs/domain/ports.py
  tests/test_cli.py
  tests/test_container.py
  tests/test_models.py
  tests/test_telegram_bot.py
  tests/test_watcher.py
Labels: Python, Tests

refactor(application): log exception with loguru.opt
  src/twitch_subs/application/watcher.py
  src/twitch_subs/cli.py
Labels: Python

refactor: improve report and change notify style
  src/twitch_subs/application/watcher.py
  src/twitch_subs/domain/models.py
  src/twitch_subs/domain/ports.py
  src/twitch_subs/infrastructure/telegram.py
Labels: Python

refactor(logger): change logs level and add opt
  src/twitch_subs/application/watcher.py
  src/twitch_subs/infrastructure/telegram.py
Labels: Python

refactor: move ports from domain to application
  TEST_PLAN.md
  src/twitch_subs/application/ports.py
  src/twitch_subs/application/watcher.py
  src/twitch_subs/application/watchlist_service.py
  src/twitch_subs/cli.py
  src/twitch_subs/infrastructure/logins_provider.py
  src/twitch_subs/infrastructure/repository_sqlite.py
  src/twitch_subs/infrastructure/telegram.py
  src/twitch_subs/infrastructure/twitch.py
Labels: Documentation, Python

chore: fix tests after refactor
  tests/test_ports.py
  tests/test_telegram_bot.py
  tests/test_watcher.py
Labels: Tests

refactor(application): log exception with loguru.opt
  src/twitch_subs/application/watcher.py
  src/twitch_subs/cli.py
Labels: Python

chore: fix tests after refactor
  tests/test_ports.py
  tests/test_telegram_bot.py
  tests/test_watcher.py
Labels: Tests

refactor(logger): change logs level and add opt
  src/twitch_subs/application/watcher.py
  src/twitch_subs/infrastructure/telegram.py
Labels: Python

refactor: improve report and change notify style
  src/twitch_subs/application/watcher.py
  src/twitch_subs/domain/models.py
  src/twitch_subs/domain/ports.py
  src/twitch_subs/infrastructure/telegram.py
Labels: Python

refactor: move ports from domain to application
  TEST_PLAN.md
  src/twitch_subs/application/ports.py
  src/twitch_subs/application/watcher.py
  src/twitch_subs/application/watchlist_service.py
  src/twitch_subs/cli.py
  src/twitch_subs/infrastructure/logins_provider.py
  src/twitch_subs/infrastructure/repository_sqlite.py
  src/twitch_subs/infrastructure/telegram.py
  src/twitch_subs/infrastructure/twitch.py
Labels: Documentation, Python

chore: wip
  src/twitch_subs/application/watcher.py
  src/twitch_subs/cli.py
Labels: Python

refactor(watcher): change log level about status change
  src/twitch_subs/application/watcher.py
Labels: Python

fix: close telegram resources cleanly
  src/twitch_subs/cli.py
  src/twitch_subs/container.py
  src/twitch_subs/infrastructure/telegram.py
  src/twitch_subs/infrastructure/twitch.py
  tests/test_cli.py
  tests/test_container.py
  tests/test_telegram_bot.py
Labels: Python, Tests

test: fix
  pyproject.toml
  src/twitch_subs/container.py
  src/twitch_subs/infrastructure/telegram.py
  tests/test_cli.py
  tests/test_container.py
  tests/test_telegram_bot.py
Labels: Python, Tests, Dependencies

test: fix
  pyproject.toml
  src/twitch_subs/container.py
  src/twitch_subs/infrastructure/telegram.py
  tests/test_cli.py
  tests/test_container.py
  tests/test_telegram_bot.py
Labels: Python, Tests, Dependencies

fix: close telegram resources cleanly
  src/twitch_subs/cli.py
  src/twitch_subs/container.py
  src/twitch_subs/infrastructure/telegram.py
  src/twitch_subs/infrastructure/twitch.py
  tests/test_cli.py
  tests/test_container.py
  tests/test_telegram_bot.py
Labels: Python, Tests

fix(container): reuse telegram bot session
  src/twitch_subs/container.py
  tests/test_container.py
Labels: Python, Tests

chore: wip
  src/twitch_subs/application/watcher.py
  src/twitch_subs/cli.py
Labels: Python

refactor(watcher): change log level about status change
  src/twitch_subs/application/watcher.py
Labels: Python

.github/labeler.yml:

# Apply the documentation label whenever markdown or docs assets change
Documentation:
  - changed-files:
      - any-glob-to-any-file:
          - '*.md'
          - 'docs/**'

# Tag updates that touch the Python source tree
Python:
  - changed-files:
      - any-glob-to-any-file: 'src/**/*.py'

# Highlight pull requests that modify automated tests
Tests:
  - changed-files:
      - any-glob-to-any-file:
          - 'tests/**'
          - 'conftest.py'

# Flag dependency or packaging updates
Dependencies:
  - changed-files:
      - any-glob-to-any-file:
          - 'pyproject.toml'
          - 'uv.lock'

# Capture infrastructure and container related changes
Infrastructure:
  - changed-files:
      - any-glob-to-any-file:
          - 'dockerfile'
          - 'compose.yml'

# Mark updates to CI configuration files
CI:
  - changed-files:
      - any-glob-to-any-file: '.github/workflows/**'

# Apply the Release label for pull requests merging into the main branch
Release:
  - base-branch: '^main$'
