Repository nikmosi/twitch-sub-bot, changes with the labels that .github/labeler.yml gives for each.
All labels: Documentation, Python, Tests, Dependencies, Infrastructure, CI

.github/labeler.yml:

# Apply the documentation label whenever markdown or docs assets change
Documentation:
  - changed-files:
      - any-glob-to-any-file:
          - '*.md'
          - 'docs/**'

# Tag updates that touch the Python source tree
Python:
  - changed-files:
      - any-glob-to-any-file: 'src/**/*.py'

# Highlight pull requests that modify automated tests
Tests:
  - changed-files:
      - any-glob-to-any-file:
          - 'tests/**'
          - 'conftest.py'

# Flag dependency or packaging updates
Dependencies:
  - changed-files:
      - any-glob-to-any-file:
          - 'pyproject.toml'
          - 'uv.lock'

# Capture infrastructure and container related changes
Infrastructure:
  - changed-files:
      - any-glob-to-any-file:
          - 'dockerfile'
          - 'compose.yml'

# Mark updates to CI configuration files
CI:
  - changed-files:
      - any-glob-to-any-file: '.github/workflows/**'

# Apply the Release label for pull requests merging into the main branch
Release:
  - base-branch: '^main$'

Potential fix for code scanning alert no. 130: Workflow does not contain permissions
  .github/workflows/deploy.yml
Labels: CI

Potential fix for code scanning alert no. 129: Workflow does not contain permissions
  .github/workflows/ci.yml
Labels: CI

Potential fix for code scanning alert no. 129: Workflow does not contain permissions
  .github/workflows/ci.yml
Labels: CI

Potential fix for code scanning alert no. 130: Workflow does not contain permissions
  .github/workflows/deploy.yml
Labels: CI

ci: add ruff lint workflow
  .github/workflows/ruff.yml
  pyproject.toml
  uv.lock
Labels: Dependencies, CI

ci(ruff): use v6 and version-file
  .github/workflows/ruff.yml
Labels: CI

ci(ruff): add permissions
  .github/workflows/ruff.yml
Labels: CI

chore: apply lint and format
  src/twitch_subs/application/__init__.py
  src/twitch_subs/domain/models.py
  tests/test_ports.py
  tests/test_repository_sqlite.py
  tests/test_watcher.py
Labels: Python, Tests

ci(ruff): bump version for checkout
  .github/workflows/ruff.yml
Labels: CI

ci(ruff): add cache
  .github/workflows/ruff.yml
Labels: CI

ci(ruff): remove version-file
  .github/workflows/ruff.yml
Labels: CI

ci: add ruff lint workflow
  .github/workflows/ruff.yml
  pyproject.toml
  uv.lock
Labels: Dependencies, CI

ci(ruff): bump version for checkout
  .github/workflows/ruff.yml
Labels: CI

chore: apply lint and format
  src/twitch_subs/application/__init__.py
  src/twitch_subs/domain/models.py
  tests/test_ports.py
  tests/test_repository_sqlite.py
  tests/test_watcher.py
Labels: Python, Tests

ci(ruff): add permissions
  .github/workflows/ruff.yml
Labels: CI

ci(ruff): use v6 and version-file
  .github/workflows/ruff.yml
Labels: CI

ci(ruff): add cache
  .github/workflows/ruff.yml
Labels: CI

ci(ruff): remove version-file
  .github/workflows/ruff.yml
Labels: CI

feat(flake): create pre-commit-hooks
  flake.nix
Labels: none

chore(flake): add lock
  flake.lock
Labels: none

chore(gitignore): add .pre-commit-config.yaml
  .gitignore
Labels: none

fix(flake): ty create with itself
  flake.nix
Labels: none

fix(flake): ty create with itself
  flake.nix
Labels: none

feat(flake): create pre-commit-hooks
  flake.nix
Labels: none

chore(gitignore): add .pre-commit-config.yaml
  .gitignore
Labels: none

chore(flake): add lock
  flake.lock
Labels: none

fix(flake): exclude test from ty
  flake.nix
Labels: none

fix(flake): exclude test from ty
  flake.nix
Labels: none

fix(flake): exclude test from ty
  flake.nix
Labels: none

fix(flake): exclude test from ty
  pyproject.toml
Labels: Dependencies

chore(flake): remove ty hook
  flake.nix
Labels: none

feat(telegram): batch report message
  src/twitch_subs/infrastructure/telegram.py
Labels: Python

feat(telegram): batch report message
  src/twitch_subs/infrastructure/telegram.py
Labels: Python

ci(deploy): add force recreate
  .github/workflows/deploy.yml
Labels: CI

test: deploy
  src/twitch_subs/cli.py
Labels: Python

fix(telegram): reuse aiogram bot across notifier and watchlist
  src/twitch_subs/container.py
  src/twitch_subs/infrastructure/telegram.py
  tests/test_cli.py
  tests/test_cli_watchlist.py
  tests/test_telegram.py
  tests/test_telegram_bot.py
Labels: Python, Tests

chore: apply ruff format and check
  src/twitch_subs/infrastructure/telegram.py
Labels: Python

refactor(telegram): remove unused and return try
  src/twitch_subs/infrastructure/telegram.py
Labels: Python

fix(telegram): reuse aiogram bot across notifier and watchlist
  src/twitch_subs/container.py
  src/twitch_subs/infrastructure/telegram.py
  tests/test_cli.py
  tests/test_cli_watchlist.py
  tests/test_telegram.py
  tests/test_telegram_bot.py
Labels: Python, Tests

chore: apply ruff format and check
  src/twitch_subs/infrastructure/telegram.py
Labels: Python
