Repository nikmosi/twitch-sub-bot, changes with the labels that .github/labeler.yml gives for each.
All labels: Documentation, Python, Tests, Dependencies, Infrastructure, CI

.github/labeler.yml:

# Apply the documentation label whenever markdown or docs assets change
Documentation:
  - changed-files:
      - any-glob-to-any-file:
          - '*.md'
          - 'docs/**'

# Tag updates that touch the Python source tree
Python:
  - changed-files:
      - any-glob-to-any-file: 'src/**/*.py'

# Highlight pull requests that modify automated tests
Tests:
  - changed-files:
      - any-glob-to-any-file:
          - 'tests/**'
          - 'conftest.py'

# Flag dependency or packaging updates
Dependencies:
  - changed-files:
      - any-glob-to-any-file:
          - 'pyproject.toml'
          - 'uv.lock'

# Capture infrastructure and container related changes
Infrastructure:
  - changed-files:
      - any-glob-to-any-file:
          - 'dockerfile'
          - 'compose.yml'

# Mark updates to CI configuration files
CI:
  - changed-files:
      - any-glob-to-any-file: '.github/workflows/**'

# Apply the Release label for pull requests merging into the main branch
Release:
  - base-branch: '^main$'

chore(ai): remove generated files
  AGENT.md
  TEST_PLAN.md
Labels: Documentation

feat(application): add base error class
  src/twitch_subs/application/error.py
Labels: Python

fix(ports): set correct interfeces
  src/twitch_subs/application/ports.py
Labels: Python

feat(compose): add rabbitmq
  compose.yml
Labels: Infrastructure

refactor(cli): run add and remove with asyncio.run
  src/twitch_subs/cli.py
Labels: Python

refactor(events): clean up
  src/twitch_subs/domain/events.py
Labels: Python

refactor(reporting)!: remove tier
  src/twitch_subs/application/reporting.py
Labels: Python

refactor(models): remove overegineir
  src/twitch_subs/domain/models.py
Labels: Python

refactor(rabbitmq_bus): format
  src/twitch_subs/infra/events/rabbitmq_bus.py
Labels: Python

chore(telegram): clean
  src/twitch_subs/infrastructure/telegram.py
Labels: Python

chore(cli): fix logs
  src/twitch_subs/cli.py
Labels: Python

chore(event_handlers): fix logs
  src/twitch_subs/application/event_handlers.py
Labels: Python

refactor(rabbitmq_bus): fix lsp issue
  src/twitch_subs/infra/events/rabbitmq_bus.py
Labels: Python

refactor(rabbitmq_bus): format
  src/twitch_subs/infra/events/rabbitmq_bus.py
Labels: Python

feat(compose): add rabbitmq
  compose.yml
Labels: Infrastructure

feat(events): add rabbitmq transport and event-driven notifier
  pyproject.toml
  src/twitch_subs/application/event_handlers.py
  src/twitch_subs/application/ports.py
  src/twitch_subs/application/reporting.py
  src/twitch_subs/cli.py
  src/twitch_subs/config.py
  src/twitch_subs/container.py
  src/twitch_subs/domain/events.py
  src/twitch_subs/domain/models.py
  src/twitch_subs/infra/__init__.py
  src/twitch_subs/infra/events/__init__.py
  src/twitch_subs/infra/events/inmemory_bus.py
  src/twitch_subs/infra/events/rabbitmq_bus.py
  src/twitch_subs/infrastructure/telegram.py
  tests/test_cli.py
  tests/test_cli_watchlist.py
  tests/test_event_bus.py
  tests/test_models.py
  tests/test_rabbitmq_bus.py
  uv.lock
Labels: Python, Tests, Dependencies

feat(application): add base error class
  src/twitch_subs/application/error.py
Labels: Python

refactor(models): remove overegineir
  src/twitch_subs/domain/models.py
Labels: Python

chore(ai): remove generated files
  AGENT.md
  TEST_PLAN.md
Labels: Documentation

refactor(rabbitmq_bus): fix lsp issue
  src/twitch_subs/infra/events/rabbitmq_bus.py
Labels: Python

refactor(reporting)!: remove tier
  src/twitch_subs/application/reporting.py
Labels: Python

fix(ports): set correct interfeces
  src/twitch_subs/application/ports.py
Labels: Python

chore(event_handlers): fix logs
  src/twitch_subs/application/event_handlers.py
Labels: Python

refactor(events): clean up
  src/twitch_subs/domain/events.py
Labels: Python

chore(telegram): clean
  src/twitch_subs/infrastructure/telegram.py
Labels: Python

refactor(cli): run add and remove with asyncio.run
  src/twitch_subs/cli.py
Labels: Python

chore(cli): fix logs
  src/twitch_subs/cli.py
Labels: Python

chore(twitch): add todo
  src/twitch_subs/infrastructure/twitch.py
Labels: Python

refactor(infrastructure): move infra to infrastructure and separate telegram
  src/twitch_subs/container.py
  src/twitch_subs/infra/__init__.py
  src/twitch_subs/infrastructure/events/__init__.py
  src/twitch_subs/infrastructure/events/inmemory_bus.py
  src/twitch_subs/infrastructure/events/rabbitmq_bus.py
  src/twitch_subs/infrastructure/telegram/__init__.py
  src/twitch_subs/infrastructure/telegram/bot.py
  src/twitch_subs/infrastructure/telegram/filters.py
  src/twitch_subs/infrastructure/telegram/notifier.py
Labels: Python

refactor(infrastructure): move infra to infrastructure and separate telegram
  src/twitch_subs/container.py
  src/twitch_subs/infra/__init__.py
  src/twitch_subs/infrastructure/event_bus/__init__.py
  src/twitch_subs/infrastructure/event_bus/in_memory.py
  src/twitch_subs/infrastructure/event_bus/inmemory.py
  src/twitch_subs/infrastructure/event_bus/rabbitmq.py
  src/twitch_subs/infrastructure/telegram/__init__.py
  src/twitch_subs/infrastructure/telegram/bot.py
  src/twitch_subs/infrastructure/telegram/filters.py
  src/twitch_subs/infrastructure/telegram/notifier.py
Labels: Python

feat: move to pydantic models
  pyproject.toml
  src/twitch_subs/domain/events.py
  src/twitch_subs/domain/models.py
  src/twitch_subs/infrastructure/event_bus/rabbitmq.py
Labels: Python, Dependencies

refactor(infrastructure): move infra to infrastructure and separate telegram
  src/twitch_subs/container.py
  src/twitch_subs/infrastructure/event_bus/__init__.py
  src/twitch_subs/infrastructure/event_bus/in_memory.py
  src/twitch_subs/infrastructure/event_bus/inmemory.py
  src/twitch_subs/infrastructure/event_bus/rabbitmq.py
Labels: Python

feat: move to pydantic models
  pyproject.toml
  src/twitch_subs/domain/events.py
  src/twitch_subs/domain/models.py
  src/twitch_subs/infrastructure/event_bus/rabbitmq.py
Labels: Python, Dependencies

feat: move to pydantic models
  pyproject.toml
  src/twitch_subs/domain/events.py
  src/twitch_subs/domain/models.py
  src/twitch_subs/infrastructure/event_bus/rabbitmq.py
Labels: Python, Dependencies

feat(container): move to dependency-injector lib
  pyproject.toml
  src/twitch_subs/application/ports.py
  src/twitch_subs/cli.py
  src/twitch_subs/container.py
  uv.lock
Labels: Python, Dependencies

feat(container): move to dependency-injector lib
  pyproject.toml
  src/twitch_subs/application/ports.py
  src/twitch_subs/cli.py
  src/twitch_subs/container.py
  uv.lock
Labels: Python, Dependencies

refactor(cli): move timeout task to config
  src/twitch_subs/cli.py
  src/twitch_subs/config.py
Labels: Python

chore(container): add settings to container
  src/twitch_subs/cli.py
  src/twitch_subs/container.py
Labels: Python

refactor(event_bus): remove start and stop method. (Use container life loop)
  src/twitch_subs/application/ports.py
  src/twitch_subs/container.py
  src/twitch_subs/infrastructure/event_bus/inmemory.py
  src/twitch_subs/infrastructure/event_bus/rabbitmq.py
Labels: Python

feat(notifier): create ConsoleNotifier
  src/twitch_subs/container.py
  src/twitch_subs/infrastructure/notifier/console.py
  src/twitch_subs/infrastructure/notifier/telegram.py
  src/twitch_subs/infrastructure/telegram/__init__.py
Labels: Python
